<!-- <p>
  marcada works!
</p> -->
<ion-content>
  <ion-card>
    <ion-card-content>
      <p>
        Filtre y seleccione la ubicación. Marque la entrada y al terminar la salida. <br>
        <strong>Gracias y Buen Día!</strong>
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Institucion</ion-label>
      <ionic-selectable [(ngModel)]="institucion" [items]="instituciones" itemValueField="id" itemTextField="cue"
        [virtualScrollHeaderFn]="getGroupText" [hasVirtualScroll]="true" [canSearch]="true"
        (onSearch)="searchPorts($event)" (onChange)="portChange($event)" [canClear]="true" clearButtonText="Limpiar"
        searchPlaceholder="Nombre, Cue o Siglas" [searchFailText]="'No se encontraron instituciones'">
      </ionic-selectable>
    </ion-item>
  </ion-card>

  <ion-item>
    <ion-label position="floating">Observacion</ion-label>
    <ion-input type="text" [(ngModel)]="observacion"></ion-input>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" style="margin-top: 2rem;">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">

      <ion-button color="success" *ngIf="entrada" (click)='marcar()'>
        <!-- <ion-icon name="log-in-outline"></ion-icon> -->
        ENTRADA
      </ion-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-button color="danger" *ngIf="!entrada" (click)='marcarSalida()'>
        <!-- <ion-icon name="log-out-outline"></ion-icon> -->
        SALIDA
      </ion-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>