ion-content{
    // --background: url(../../assets/img/fondo2.jpeg) no-repeat 100% 100%;
    --background: #f8f9fa;
}
ion-row{
    margin: auto;
    justify-content: center;
    align-items: center;
    
}